{{#consolidate_newlines}}
{{#direct_copy}}
{{#field_type.is_binary}}
ThriftUtil.CopyBinary({{source_name}})
{{/field_type.is_binary}}
{{^field_type.is_binary}}
{{source_name}}
{{/field_type.is_binary}}
{{/direct_copy}}
{{^direct_copy}}
{{{field_type.init_type_name}}}.DeepCopy({{source_name}})
{{/direct_copy}}
{{/consolidate_newlines}}
