{{>autogen}}
{{>package}}
{
    {{#i_4}}{{>type_imports}}{{/i_4}}
    {{#i_4}}{{>thrift_imports}}{{/i_4}}

    {{#i_4}}
    {{#is_union}}
    {{>union_inner}}
    {{/is_union}}
    {{^is_union}}
    {{>struct_inner}}
    {{/is_union}}
    {{/i_4}}
}
