{{#gen_hash_code}}
{{/gen_hash_code}}
using System;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.Serialization;
using System.Security.Permissions;
using System.Text;
using Finagle.Core.Util;